
.mycontainer, .searchresult, .app {
    height: 1000px;
    background-color: #282c34;
}

.card-image {
    height: 150px;
    width: auto;
}

.card-body {
    overflow: hidden;
}

.card-title {
    height: 60px;
}

.navbar{
    background: #282c34;
    padding-bottom: 0px;
}
#loginbtn{

}

.card-text {

}

.eventcard {
    margin-left: 7px;
    margin-top: 15px;
    margin-right: 7px;
}

.pagebtn{
    padding-top: 5px;
}

.link {
    color: #61dafb;
}
.loginfooter{
    margin-top: 15px;
    margin-bottom: 0px;
}

.loginpage{
    text-align: center;
    background: rgba(97, 218, 251, 0.21);;
    display: table;
    padding: 40px;
    border-radius: 4px;
    position: relative;
    margin: auto;
    margin-top: 20px;
}

.auth-input{
    margin: 10px;
}

h4{
    color:#61dafb;
}

.sepline{
    height: 1px;
    color: #61dafb;
    margin-bottom: 10px;
}

h1 {
    color: #61dafb;
    text-align: center;
    padding-top: 0px;
    font-family: "DejaVu Sans"  ;
    background-color: #282c34;
    padding-bottom: 20px;
    font-size: 65px;
}

h5 {
    color: #61dafb;
    text-align: center;
    padding-top: 15px;
    font-family: "DejaVu Sans";
    padding-bottom: 40px;
}

h6 {
    color: #61dafb;
    text-align: center;
    font-family: "DejaVu Sans";
    padding-left: 15px;
    padding-top: 15px;
}

.header {
    background-color: #61dafb;
    height: 100px;
    text-align: center;
    height: auto;
}

.placeholder{
    height: 8px;
    background-color: #61dafb;
}

.gomb {
    margin: 10px;
    border-radius: 0.5px;
    padding: 0px;

}

.searchform {
    text-align: center;
}

.input {
    margin: 20px 5px;
    border-radius: 0.2px;
}

.searchresult {
    text-align: center;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.profilePicture {
    height: 200px;
    width: 185px;
    margin: 0 auto;
    border: 3px solid #61dafb;
    }

.pictureBorder {
    margin: auto;
    float: left;
}

.homeText {
    text-align: center;
}

.imageContainer {
    width: 100%;
}

.row{
    width: 100%;
}