
.mycontainer, .searchresult, .app {
    height: 1000px;
    background-color: #282c34;
}

.card-image {
    height: 150px;
    width: auto;
}

.card-body {
    overflow: hidden;
}

.card-title {
    height: 60px;
}

.card-text {

}

.eventcard {
    margin-left: 7px;
    margin-top: 15px;
    margin-right: 7px;
}

h1 {
    color: #61dafb;
    text-align: center;
    padding-top: 30px;
    font-family: "DejaVu Sans"  ;
    background-color: #282c34;
    padding-bottom: 15px;
    font-size: 65px;
}

h5 {
    color: #61dafb;
    text-align: center;
    padding-top: 15px;
    font-family: "DejaVu Sans";
    padding-bottom: 40px;
}

h6 {
    color: #61dafb;
    text-align: center;
    font-family: "DejaVu Sans";
    padding-left: 15px;
    padding-top: auto;
}

.header {
    background-color: #61dafb;
    height: 100px;
    text-align: center;
}


.gomb {
    margin: 10px;
    border-radius: 0.5px;

}

.searchform {
    text-align: center;
}

.input {
    margin: 20px 5px;
    border-radius: 0.2px;
}

.searchresult {
    text-align: center;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.profilePicture {
    height: 200px;
    width: 185px;
    margin: 0 auto;
    border: 3px solid #61dafb;
    }

.homeText {
    text-align: center;
}

.imageContainer {
    width: 100%;
}

.row{
    width: 100%;
}